*{
  margin: 0;
  font-family: 'Inter';
  font-weight: 400;
}

.splash--container{
  margin-top: 15%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.splash--title{
  color: #293264;
}

.splash--desc{
  color: #293264;
  margin-top: 7px;
}

.splash--button{
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  margin-top: 29px;
}

.quiz--container{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  display: flex;
  flex-flow: column;
}

.quiz--question{
  align-self: flex-start;
  color: #293264;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;

  margin-bottom: 20px;
}

.quiz--answer--container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.quiz--answer{
  padding: 5px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  width: 150px;
  height: fit-content;
  border-radius: 10px;
  border: 2px solid #293264;
  cursor: pointer;
  background-color: transparent;
}

.quiz--answer--incorrect{
  padding: 5px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  width: 150px;
  height: fit-content;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: gray;
}

.quiz--answer--unselected{
  padding: 5px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  width: 150px;
  height: fit-content;
  border-radius: 10px;
  border: 2px solid grey;
  cursor: pointer;
  background-color: transparent;
  color: gray;
}

.quiz--answer:hover{
  background-color: #D6DBF5;
}

.app{
  width: 100%;
}

.app--grade, .app--newQuiz{
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  margin-top: 29px;
  margin-left: 40%;
}

.app--grade:hover, .app--newQuiz:hover{
  background-color: #D6DBF5;
  color: #293264;
  border: 2px solid #293264;
}

hr{
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #4D5B9E;
}

.grade--container{
  margin: 0 auto;
}

.grade--text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  margin-left: 38%;
  color: #293264;
}